<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>local.musegadget.bluetooth</string>
<key>CFBundleName</key><string>Muse Bluetooth Pairing</string>
<key>CFBundleExecutable</key><string>MuseBluetooth</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSMinimumSystemVersion</key><string>14.0</string>
<key>NSHighResolutionCapable</key><true/>
<key>NSBluetoothAlwaysUsageDescription</key><string>Pair your Linux Muse gadget container with the Muse phone app using this Mac's Bluetooth.</string>
</dict></plist>
